@import '~bootstrap/scss/bootstrap';

a {
    color: inherit;
    text-decoration: none;
}

.ms_card-img {
    height: 275px;
}

.ms_titles {
    height: 45%;
}

.ms_description {
    height: 100px;
    overflow: auto;
}