@import '~bootstrap/scss/bootstrap';

a {
    color: inherit;
    text-decoration: none;
}

.ms_card-img {
    height: 275px;
}

.ms_titles {
    height: 45%;
}

.ms_description {
    height: 100px;
    overflow: auto;
}

.ms_home {
    width: 100%;
    height: 100vh;
}

header {
    position: fixed;
    background-color: gray;
    width: 100vw;
    z-index: 999;
}

.ms_top-space {
    padding-top: 60px;
}